.canvas-wrapper {
  width: 100vw;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.centered-canvas {
  position: relative;
  width: 800px;
  height: 800px;
}
.overlaping-canvas {
  position: absolute;
  left: 0;
  right: 0;
}
