.canvas-wrapper {
  width: 100vw;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}
.overlaping-canvas {
  margin: auto;
}
